################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LSPDFR_Reborn/.vs/LSPDFR_Reborn
/LSPDFR_Reborn/LSPDFR_Reborn/obj/Debug
/LSPDFR_Reborn/LSPDFR_Reborn/obj/Release
/LSPDFR_Reborn/LSPDFR_Reborn/bin/Debug
/LSPDFR_Reborn/LSPDFR_Reborn/bin/Release
/LSPDFR_Reborn/packages/LSPDFR/LSPD First Response.dll
/LSPDFR_Reborn/packages/RAGENativeUI.1.9.0/lib/net472/RAGENativeUI.dll
/LSPDFR_Reborn/packages/RAGENativeUI.1.9.0/lib/net472/RAGENativeUI.xml
/LSPDFR_Reborn/packages/RAGENativeUI.1.9.0/.signature.p7s
/LSPDFR_Reborn/packages/RAGENativeUI.1.9.0/RAGENativeUI.1.9.0.nupkg
/LSPDFR_Reborn/packages/RagePluginHook.1.98.0/lib/net472/RagePluginHook.dll
/LSPDFR_Reborn/packages/RagePluginHook.1.98.0/lib/net472/RagePluginHook.xml
/LSPDFR_Reborn/packages/RagePluginHook.1.98.0/licenses/DotNetZip.license
/LSPDFR_Reborn/packages/RagePluginHook.1.98.0/rph.png
/LSPDFR_Reborn/packages/RagePluginHook.1.98.0/readme.md
/LSPDFR_Reborn/packages/RagePluginHook.1.98.0/RagePluginHook.1.98.0.nupkg
/LSPDFR_Reborn/packages/RagePluginHook.1.98.0/licenses/SlimDX.license
/LSPDFR_Reborn/packages/RagePluginHook.1.98.0/licenses/Mono.Cecil.license
/LSPDFR_Reborn/packages/RagePluginHook.1.98.0/licenses/license.txt
/LSPDFR_Reborn/packages/RagePluginHook.1.98.0/licenses/Gwen.license
/LSPDFR_Reborn/packages/RagePluginHook.1.98.0/licenses/FW1FontWrapper.license
/LSPDFR_Reborn/packages/RagePluginHook.1.98.0/.signature.p7s
/LSPDFR_Reborn/LSPDFR_Reborn/LSPDFR_Reborn.csproj
